<body>
  <div id="main">
    <!-- <app-firstnav></app-firstnav> -->

    <body id="body" class="tt-boxed">
     
        
 
      <div class="container text-xs-center text-sm-center text-md-left">
     
       
            
      <!-- Who We Are Starts -->
        <section class="about-who-we-are-section">
            <!-- Nested Container Starts -->
                <div class="container">
                <!-- Heading Starts -->
                    <h2 class="heading-1 text-xs-center text-sm-center text-md-left"><strong>ARC  </strong> -  Autism Residential Community (India) </h2>
                <!-- Heading Ends -->
                <!-- Content Starts -->
                    <div class="content-1">
                        <p class="text-justify">Autism Residential Community (India) is a Registered Charitable Trust (No. 8/BK4/2019) created for the benefit of people with autism.  ARC is an outcome of the Trustee’s desire to make a difference in the world of autism.  The Trustees have committed their personal resources and time, in an effort to create a bespoke facility for the engagement, development and supported living of people with autism.</p>
                        <p class="text-justify">ARC is a collaboration of a family with a child with autism and a professional in the field, both deeply dedicated to the cause.
    </p>
    <p class="text-justify">					We will commence operations in a temporary residential cum vocational facility after the Coronavirus pandemic lockdown eases for 3 to 4 residents.  We will update exact start dates closer to time.  Our own facility is under construction and will be ready in 2021 </p>
                    </div>
             
                
                  <div class="col-md-12 col-sm-12 d-xs-block d-sm-block d-md-none"><br>
                      <img src="images/home/home-img1.jpg" alt="Image" class="img-fluid img-center"> <br>
                    </div> 
                    
                    
                    <div id="carousel-about-1" class="carousel slide br-3 d-xs-none d-sm-none d-md-block pointer-event" data-ride="carousel">
                    <!-- Indicators Starts -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-about-1" data-slide-to="0" class=""></li>
                            <li data-target="#carousel-about-1" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-about-1" data-slide-to="2" class="active"></li>				
                        </ol>
                    <!-- Indicators Ends -->
                    <!-- Wrapper For Slides Starts -->
                        <div class="carousel-inner">
                        <!-- Item #1 Starts -->
                            <div class="carousel-item">
                                <img src="images/slider/about-slide-img1.jpg" alt="Image" class="img-center br-3">
                            </div>
                        <!-- Item #1 Ends -->
                        <!-- Item #2 Starts -->
                            <div class="carousel-item">
                                <img src="images/slider/about-slide-img2.jpg" alt="Image" class="img-center br-3">
                            </div>
                        <!-- Item #2 Ends -->
                        <!-- Item #3 Starts -->
                            <div class="carousel-item active">
                                <img src="images/slider/about-slide-img1.jpg" alt="Image" class="img-center br-3">
                            </div>
                        <!-- Item #3 Ends -->
                        </div>
                    <!-- Wrapper For Slides Ends -->
                    </div>
                <!-- Slider Ends -->
              
                </div>
            <!-- Nested Container Ends -->
       
            <!-- Nested Container Starts -->
                <div class="container text-xs-center text-sm-center text-md-left">
                <!-- Heading Starts -->
                    <h2 class="heading-1 text-xs-center text-sm-center text-md-left text-weight-light"> <strong>Purpose, Mission &amp; Vision </strong> </h2>
                <!-- Heading Ends -->
                <!-- Content Starts -->
                    <div class="content-1">
                        <p class="text-justify"> A world class residential and developmental program for individuals on the autism spectrum. An ecosystem of lifelong learning, stress-free living in a safe environment with customised programs that achieve dignity of life, freedom of expression and independence. </p>  </div>
             
     
    
    
           <!-- Content Ends -->
    
    
                <!-- Special Services List Starts -->
                    <div class="row">
                    <!-- List #1 Starts -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="services-spl-box clearfix">
                                <i class="fa fa-bullhorn circle float-md-left"></i>
                                <h4 class="text-weight-bold">Purpose</h4>
                                <p class="text-justify">To make a difference in the lives and families living with autism. Our purpose is to create a safe world class environment where parents can wholeheartedly trust their children to our care.  To engage individuals  with autism to live an independent life, to become employable and express themselves freely.</p>
                            </div>
                        </div>
                    <!-- List #1 Ends -->
                    <!-- List #2 Starts -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="services-spl-box clearfix">
                                <i class="fa fa-cloud-upload circle float-md-left"></i>
                                <h4 class="text-weight-bold">Mission </h4>
                                <p class="text-justify">To be a world class residential and developmental facility for  individuals on the autism spectrum, that provides an eco-system of learning and living, in a safe environment with customised programs that achieve dignity, freedom of expression &amp; independence.  To help each person associated with ARC, both staff and clients, to reach their full potential through innovative teaching and training methodology, to widen their areas of interest and achieve their goals.</p>
                            </div>
                        </div>
                    <!-- List #2 Ends -->
                    <!-- List #3 Starts -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="services-spl-box clearfix">
                                <i class="fa fa-cogs circle float-md-left"></i>
                                <h4 class="text-weight-bold">Vision</h4>
                                <p class="text-justify">To break through the challenges in setting up a facility which becomes an example of excellence in the field of autism.  To enlist the help of medical fraternity in Vellore, non-government and government organisations in the support and service of people living with autism.  To provide opportunity for the community around us and spread the word that autism is not a disease, but a developmental disorder of variable severity.</p>
                            </div>
                        </div>
                    <!-- List #3 Ends -->
                  
                  
                    
                    </div>
                <!-- Special Services List Ends -->
          
               <div class="spacer-extra-large"></div>
        
            
            
             <li class="row">
                            
                            <div class="col-lg-12 col-md-12 col-sm-12">
                          <ul class="text-left">
    
    
    <li>We are an equal opportunity employer – no discrimination on age, sex or religion.  Same job, same pay.</li>
    <li>Zero tolerance to violence.  No aggression will be tolerated and will even be reported to authorities if necessary.</li>
    <li>“No Touch” approach to therapy.</li>
    <li>We believe in ‘acting justly, loving tenderly and walking in humility.</li>
    
    
    </ul>					  </div>
                
                
                
                        </li>
              
              
              
              
                </div>
            <!-- Nested Container Ends -->
            </section>
        
           <div class="container text-xs-center text-sm-center text-md-left">
            <!-- Expert Section Starts -->
                <section class="about-expert-section">
                    
                         <h2 class="heading-1 text-xs-center text-sm-center text-md-left text-weight-light"><strong>Logo</strong></h2>  
                    
               <div class="row">
                   
                   <div class="col-lg-8 col-md-7 col-sm-12">
                       
                        <p class="text-justify">
                        The three heads in our logo represents 3 parties - the child, the parent and the organisation (made up of educators, therapists, caregivers, nurses and administrative staff). All of them working together, and backing each other to achieve dignity, freedom and independence.</p>
                        
                        <p class="text-justify"> 
    
    Each individual with autism has a unique learning path. We strive to achieve dignity, which comes from identifying and working with their strengths. We want each individual to have the freedom to express themselves. We believe in changing for them, and not them for us. In ARC we will strive hard to teach the children independence and  to adapt to a self sufficient life. Independence in terms of employability, living and engagement.
                    </p>
                    
                       </div>
                       
                       <div class="col-lg-4 col-md-5 col-sm-12 text-center">
                           <br> <br> <br> 
                                <img src="images/logo.png" alt="Image" class="img-fluid img-center br-3">
                            </div>
                            
                    </div>
                   
                    
                    
                <!-- Heading Starts -->
                    <h2 class="heading-1 text-xs-center text-sm-center text-md-left text-weight-light"><strong>Founders</strong></h2>
                <!-- Heading Ends -->
                
                  
                <!-- Nested Row Starts -->
                     <ul class="list-unstyled list-style-1">
                    <!-- List #1 Starts -->
                        <li class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12">
                           <img src="images/about/about-img1.jpg" alt="Image" class="img-fluid img-center-xs br-3">
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12">
                                <h4 class="text-brand-color">Mr Pradeep Jeyathilak </h4>
                               <p class="text-justify"> A  career professional in Supply Chain worked around the globe with an MNC.  Driven to give back to the society especially in the field of Autism.
     </p>
                            </div>
                        </li>
                    <!-- List #1 Ends -->
                    <!-- List #2 Starts -->
                        <li class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12">
                             <img src="images/about/about-img2.jpg" alt="Image" class="img-fluid img-center-xs br-3">
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12">
                                <h4 class="text-brand-color">Mrs Cinu Philip</h4>
                                <p class="text-justify">Working with people with Autism for the past 16 years in Dubai (Al Noor), Singapore (Eden) and India (Autism Ashram) holding a bachelor's degree in Special Education. TEACCH trained at The University of North Carolina; internship with Carolina Living and Learning Center (Residential programme for adults with Autism).
     </p>
                            </div>
                        </li>
                    <!-- List #2 Ends -->
                    <!-- List #3 Starts -->
                        <li class="row">
                            <div class="col-lg-3 col-md-5 col-sm-12">
                               <img src="images/about/about-img3.jpg" alt="Image" class="img-fluid img-center-xs br-3">
                            </div>
                            <div class="col-lg-9 col-md-7 col-sm-12">
                                <h4 class="text-brand-color">Mrs Nellie Jeyathilak </h4>
                           <p> An educator for the past 55 years. Lives in Vellore and a key motivator behind this initiative.
    
     </p> </div>
                        </li>
                  
                    </ul>
                
                </section>
           
            </div>	
            
            
            </div>
      
     
    </body>



    </div>
    </body>