
      <nav class="navbar navbar-expand-lg  sticky-top navbar-light bg-light">
        <a  class="navbar-brand">
          <img img src="../assets/logo.png" alt="Autism Residential Community" class="img-fluid img-center-sm">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li   [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink='' class="nav-link"><span>Home</span></a></li>
            <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" class="nav-item"><a routerLink='/about' class="nav-link"><span>About</span></a></li>
            <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" *ngIf="loginservice.LoggedIn()" class="nav-item"><a routerLink='/profile' class="nav-link"><span>Profile</span></a></li>
           
          <!-- <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" *ngIf="loginservice.LoggedIn()&&admin" class="nav-item"><a routerLinkActive="active current" routerLink='/therapist' class="nav-link"><span>the</span></a></li> -->

          <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" *ngIf="loginservice.LoggedIn()&&patient" class="nav-item"><a routerLink='/patrecord' class="nav-link"><span>View</span></a></li>



          <li class="nav-item dropdown" *ngIf="loginservice.LoggedIn()&&therapist">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Registration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink='/Register' *ngIf="loginservice.LoggedIn()&&therapist" >Patient registration</a>
              <a class="dropdown-item"  routerLink='/therapist' *ngIf="loginservice.LoggedIn()&&admin"  >Therapist registration</a>
            
              
            </div>
          </li>


           <li class="nav-item dropdown" *ngIf="loginservice.LoggedIn()&&therapist"> 
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Registered List
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink='/patientlist' *ngIf="loginservice.LoggedIn()&&therapist" >Patient </a>
              <a class="dropdown-item" routerLink='/therapistlist'  *ngIf="loginservice.LoggedIn()&&admin"  >Therapist</a>
            
              
            </div>
          </li> 
    












           
            <!-- <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}" *ngIf="loginservice.LoggedIn()&&admin" routerLink='/patient' class="nav-item"><a class="nav-link"><span>admin</span></a></li>  -->
        
          </ul>
          <ul class="navbar-nav ml-auto">
            <li [routerLinkActive]="['active']" *ngIf="!loginservice.LoggedIn()"  [routerLinkActiveOptions]="{exact:true}" class="nav-item  "><a routerLink='/Login' class="nav-link">Login</a></li>
            <!-- <li [routerLinkActive]="['active']" *ngIf="loginservice.LoggedIn()"  [routerLinkActiveOptions]="{exact:true}"  class="nav-item "><a  routerLink='/Register' class="nav-link">Register</a></li> -->
            <li [routerLinkActive]="['active']" *ngIf="loginservice.LoggedIn()"  [routerLinkActiveOptions]="{exact:true}"  class="nav-item "><a   (click)="logout()" class="nav-link">Logout</a></li>
          </ul>
        </div>
      </nav>
<router-outlet></router-outlet>
