<body>
  <div id="main">
    <!-- <app-firstnav></app-firstnav> -->

    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../assets/slider-img1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/slider-img2.jpg" alt="Second slide">
        </div>
    
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> -->



    <body id="body" class="tt-boxed">
      <!-- Header Wrap Starts -->
        <header class="header-wrap">

          
          <div class="w-100 d-xs-block d-sm-block d-md-none" style="height: 122px;">
                <div class="spacer-extra-large"></div>
              </div>
              
        <!-- Home Header Ends -->
        <!-- Slider Starts -->
          <div id="main-slider" class="carousel slide carousel-fade pointer-event" data-ride="carousel">
          <!-- Wrapper For Slides Starts -->
            <div class="carousel-inner text-xs-center">
            <!-- Slide #1 Starts -->
              <div class="carousel-item">
                <img src="../assets/slider-img1.jpg" alt="Slide 1" class="img-fluid img-center">
              <!-- Caption Starts -->
                <div class="carousel-caption d-xs-none d-sm-none d-md-block">
                  <div class="container">
                    <h1 class="text-weight-bold text-uppercase"><span class="text-weight-light">Assisted Living</span><br> Facility for People with Autism</h1>
                    <h5>World class residential and development facility for people with Autism</h5>
                    <p>To help individuals with Autism to live an independent life,<br> to become employable and express themselves freely </p>
                    <ul class="list-unstyled list-inline">
                      <li class="list-inline-item"><a href="tel:+91 7094221204" class="btn btn-main animation">Call Us Today</a></li>
                     </ul>
                  </div>
                </div>
                
                
            
                
                
              <!-- Caption Ends -->
              </div>
            <!-- Slide #1 Ends -->
            <!-- Slide #2 Starts -->
              <div class="carousel-item active">
                <img src=" ../assets/slider-img2.jpg"  alt="Slide 2" class="img-fluid img-center">
              <!-- Caption Starts -->
                <div class="carousel-caption inverse d-xs-none d-sm-none d-md-block">
                  <div class="container">
                    <h1 class="text-weight-bold text-uppercase"><span class="text-weight-light">World Class Residential </span><br>&amp; Development Centre for Autism</h1>
                    <h5>Engage clients through conversation and companionship </h5>
                    <p>Make a difference in the lives and families living with Autism</p>
                    <ul class="list-unstyled list-inline">
                      <li class="list-inline-item"><a href="tel:+91 7094221204" class="btn btn-main animation">Call Us Today</a></li>
                     </ul>
                  </div>
                </div>
                
         
                
                
              <!-- Caption Ends -->
              </div>
            <!-- Slide #2 Ends -->
            </div>
          <!-- Wrapper For Slides Ends -->
          <!-- Control Starts -->
            <a class="carousel-control-prev animation d-xs-none" href="#main-slider" role="button" data-slide="prev">
              <span class="fa fa-angle-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next animation d-xs-none" href="#main-slider" role="button" data-slide="next">
              <span class="fa fa-angle-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          <!-- Control Ends -->
          </div>		<!-- Slider Ends -->
        </header>
      <!-- Header Wrap Ends -->
      <!-- Home Intro Info Box Wrap Starts -->
        <div class="home-intro-info-box-wrap d-xs-none d-sm-none d-md-block">
        <!-- Nested Container Starts -->
          <div class="container text-xs-center text-sm-center text-md-left">
          <!-- Home Intro Info Box Starts -->
            <div class="home-intro-info-box">
              <h2 class="text-weight-light"><span class="text-weight-bold">Autism -</span>  Working with special people </h2>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p>An opportunity to work with special people who are differently abled.  To help them live a dignified, free and independent life.</p>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                  <a href="join.php" class="btn btn-outline-1 animation">Join Us </a>
                </div>
              </div>
            </div>
          <!-- Home Intro Info Box Ends -->
          </div>
        <!-- Nested Container Ends -->
        </div>
        
        
            <div class="home-intro-info-box-wrap d-xs-block d-sm-block d-md-none">
        <!-- Nested Container Starts -->
          <div class="container text-xs-center text-sm-center text-md-left">
          <!-- Home Intro Info Box Starts -->
            <div class="home-intro-info-box">
              <h2 class="text-weight-light"><span class="text-weight-bold">Assisted Living </span> Facility for People with autism</h2>
              <hr style="border-top: 1px solid #f8f9fa;">
              <div class="row">
                <div class="col-md-8 col-sm-12">
                    <p> World class residential and development
     facility for people with autism </p><hr style="border-top: 1px solid #f8f9fa;"> To help individuals with autism to live an independent life, to become employable and express themselves freely <p></p>
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                  <a href="tel:+91 7094221204" class="btn btn-outline-1 animation">Call Us Today </a>
                </div>
              </div>
            </div>
          <!-- Home Intro Info Box Ends -->
          </div>
        <!-- Nested Container Ends -->
        </div>
        
        
        
      <!-- Home Intro Info Box Wrap Ends -->
      <!-- Main Container Starts -->
        <div class="main-container container text-xs-center text-sm-center text-md-left">
        <!-- Home Welcome Section Starts -->
          <section class="home-welcome-section">
              
                <img src="images/home/map-img.png" alt="Map" class="img-fluid img-center  d-xs-block d-sm-block d-md-none">
                
                
                
          <!-- Heading Starts -->
            <h2 class="heading-1 text-xs-center text-sm-center text-md-left text-weight-light"><strong>Autism Facts</strong> </h2>
          <!-- Heading Ends -->
          <!-- Spacer Starts -->
            <div class="spacer-small"></div>
          <!-- Spacer Ends -->
          <!-- Nested Row Starts -->
            <div class="row">
            <!-- Welcome Content Starts -->
              <div class="col-md-6 col-sm-12">
                <div class="content-1">
    
    
    <h5 class="text-left">Incidence</h5>
     <p class="text-justify">
     There is no formal consensus.  However, it is estimated that 1 in every 100  children in India is diagnosed with autism Spectrum Disorder (ASD), which is over 12 million individuals.  Being a spectrum, it is highly likely that related disabilities are also being included.
     </p><br>
     <h5 class="text-left">Causes</h5>
     <p class="text-justify">
     There is no conclusive evidence of what causes autism, but a few possible
    causes have been put forward by researchers in this field. Given the
    complexity of the condition, and since symptoms and severity vary, there are
    probably many causes.  Genetics and other environmental factors may play a
    role.  Vaccines don’t play a role in causing autism.
     </p><br>
    
    
    
    
    
    
    
    
    
              </div>
              </div>
            <!-- Welcome Content Ends -->
         
            <!-- Welcome Image Starts -->
              <div class="col-md-6 col-sm-12">
                <img class="d-xs-none d-sm-none d-md-block img-fluid img-center" src="images/home/map-img.png" alt="Map">
            
    
    
              </div>
            <!-- Welcome Image Ends -->
            
              <div class="col-md-12 col-sm-12">
              
     <h5 class="text-left">Cure</h5>
     
     <p class="text-justify">
     Sadly, there is no cure for autism.  It is a lifelong challenge and depending on the severity of the condition and therapeutic inputs, the person with autism can only be trained to cope with their disability in the long run.  Stem cells, behaviour modification, diet and bio-medical interventions do not cure autism. There is no definitive evidence  to support that the above interventions work better than a combination of behavioural, psychological and educational therapy.
     </p>
            
    
    
              </div> 	
            </div>
          <!-- Nested Row Ends -->
       
          </section>
        <!-- Home Welcome Section Ends -->
        <!-- Home Plan Info Section Starts -->
         
        <!-- Home Plan Info Section Ends -->
        </div>
      <!-- Main Container Ends -->
       
      <!-- Main Container Starts -->
     
      <!-- Main Container Ends -->
      <!-- Footer Top Starts -->
        <div class="footer-top">
        <!-- Nested Container Starts -->
          <div class="container text-xs-left text-sm-left text-md-left">
          <!-- Nested Row Starts -->
            <div class="row">
            <!-- Information Col Starts -->
              <div class="col-lg-4 col-md-4 col-sm-12">
              <!-- Title Starts -->
                <h4 class="foot-heading text-left">Information</h4>
              <!-- Title Ends -->						
                  
                <ul class="list-unstyled address-list">
                  <li class="clearfix address">
                    <i class="fa fa-home"></i>
                  Plot 94, 8th Street, Phase 1, Sathuvachari,
                  <br>
                  Vellore 632009, Tamilnadu 	India						
                  </li>
                  <li class="clearfix">
                    <i class="fa fa-whatsapp"></i>
                    <a href="https://wa.me/917094221204">
                    +91 - 709 422 1204</a>
                  </li>
                  <li class="clearfix">
                    <i class="fa fa-phone"></i>
                    <a href="tel:917094221204">
                    +91 - 709 422 1204</a> , 
                      <a href="tel:9133040444">+91 - 913 304 0444</a>
                  </li>
                  <li class="clearfix">
                    <i class="fa fa-envelope"></i> <a href="mailto:info@autismresidentialcommunity.org">info@autismresidentialcommunity.org</a>
                  </li>
                </ul>
                
                <p class="float-md-left">
                </p><ul class="list-unstyled list-inline float-md-left text-md-left">
                <li class="list-inline-item"><a href="https://twitter.com/AutismResident1" class="animation">
                  <i class="fa fa-twitter"></i>
                </a></li>
                <li class="list-inline-item"><a href="https://www.facebook.com/ARCVellore/community/" class="animation">
                  <i class="fa fa-facebook"></i>
                </a></li>
                 
                <li class="list-inline-item"><a href="http://instagram.com/autismresidentialvellore" class="animation">
                  <i class="fa fa-instagram"></i>
                </a></li>
                <li class="list-inline-item"><a href="#" class="animation">
                  <i class="fa fa-google-plus"></i>
                </a></li>
                <li class="list-inline-item"><a href="#" class="animation">
                  <i class="fa fa-rss"></i>
                </a></li>
              </ul>
                <p></p>
                
              </div>
            <!-- Information Col Ends -->
     
             
            <!-- Newsletter Col Starts -->
        
            <!-- Newsletter Col Ends -->
            </div>
          <!-- Nested Row Ends -->
          </div>
        <!-- Nested Container Ends -->	
        </div>
      <!-- Footer Top Ends -->
      <!-- Copyright Starts -->
      
        <a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"></a>
    
  
      
    </body>



    </div>
    </body>
